/* Styles go here */

.heading {
    color: #0D204A;
}

caption {
  font-size: 14pt;  
}

.station {
  width: 240px;
}

.destination {
  width: 500px;
}

.departs, .estimated .platform {
  width: 130px;
}

.table-striped>thead>tr>th {
    background-color: #0085CF;
    color: #ffffff;
} 

.delayed {
  font-style: italic;
  font-weight: bold;
  color: #DD0000;
}
 
