/* Styles go here */

caption {
  font-size: 14pt; 
  color: #0D204A; 
}

.table-striped>thead>tr>th {
    background-color: #0085CF;
    color: #ffffff;
} 

.delayed {
  font-style: italic;
  font-weight: bold;
  color: #DD0000;
}
 
