<div class="col-md-12 col-lg-12 container">
    <h1>Live Departure & Arrival board for <strong>{{ vm.city }}</strong></h1>
    <div>
        <div class="success">Last Updated: {{ vm.departures.generatedAt | date: 'dd/MM/yyyy HH:mm:ss' }}</div>

        <table class="table table-striped table-bordered">
            <caption>Departures</caption>
            <thead>
                <tr>
                    <th class="col-md-2">From</th>
                    <th class="col-md-3">To</th>
                    <th class="col-md-1">Departs</th>
                    <th class="col-md-1">Estimated</th>
                    <th class="col-md-1">Platform</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-hide=vm.departures>
                    <td colspan="5"><strong>No Departure Information Found</strong></td>
                </tr>
                <tr ng-repeat="services in vm.departures.trainServices">
                    <td> {{ services.origin[0].locationName }} ({{ services.origin[0].crs }}) </td>
                    <td> {{ services.destination[0].locationName }} ({{ services.destination[0].crs }}) </td>
                    <td> {{ services.std }}</td>
                    <td ng-class="{'delayed':services.etd!='On time'}"> {{ services.etd }}</td>
                    <td> {{ services.platform }}</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-striped table-bordered">
            <caption>Arrivals</caption>
            <thead>
                <tr>
                    <th class="col-md-2">From</th>
                    <th class="col-md-3">To</th>
                    <th class="col-md-1">Departs</th>
                    <th class="col-md-1">Estimated</th>
                    <th class="col-md-1">Platform</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-hide=vm.arrivals>
                    <td colspan="5"><strong>No Arrival Information Found</strong></td>
                </tr>
                <tr ng-repeat="sv in vm.arrivals.trainServices">
                    <td> {{ sv.origin[0].locationName }} ({{ sv.origin[0].crs }}) </td>
                    <td> {{ sv.destination[0].locationName }} ({{ sv.destination[0].crs }}) </td>
                    <td> {{ sv.sta }}</td>
                    <td ng-class="{'delayed':sv.eta!='On time'}"> {{ sv.eta }}</td>
                    <td> {{ sv.platform }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>