<div class="col-md-12 col-lg-12 container">
    <h1>Live Departure & Arrival board for <strong>{{ vm.city }}</strong></h1>
    <h3 class="well well-sm pull-left">{{ vm.time| date:'HH:mm:ss' }}</h3>
    <div>
        <div class="alert alert-danger" data-ng-show=vm.error>
            <span class="close" data-dismiss="alert">&times;</span>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> </span>
            <span>Unable to load data for {{ vm.city }}</span>
        </div>

        <!-- <div class="col-md-6"> -->
        <table class="table table-striped table-bordered">
            <caption>Departures</caption>
            <thead>
                <tr>
                    <th class="col-md-2">Due</th>
                    <th class="col-md-4">Leaving From</th>
                    <th class="col-md-4">To</th>
                    <th class="col-md-1">Status</th>
                    <th class="col-md-1">Platform</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-hide=vm.departures>
                    <td colspan="5"><strong>No Departure Information Found</strong></td>
                </tr>
                <tr ng-repeat="services in vm.departures.trainServices">
                    <td> {{ services.std }}</td>
                    <td> {{ services.origin[0].locationName }} ({{ services.origin[0].crs }}) </td>
                    <td> {{ services.destination[0].locationName }} ({{ services.destination[0].crs }}) </td>
                    <td ng-class="{'delayed':services.etd!='On time'}"> {{ services.etd }}</td>
                    <td> {{ services.platform }}</td>
                </tr>
            </tbody>
        </table>
        <!-- </div> -->


        <!--  <div class="col-md-6"> -->
        <table class="table table-striped table-bordered">
            <caption>Arrivals</caption>
            <thead>
                <tr>
                    <th class="col-md-2">Due</th>
                    <th class="col-md-4">Leaving From</th>
                    <th class="col-md-4">To</th>
                    <th class="col-md-1">Status</th>
                    <th class="col-md-1">Platform</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-hide=vm.arrivals>
                    <td colspan="5"><strong>No Arrival Information Found</strong></td>
                </tr>
                <tr ng-repeat="sv in vm.arrivals.trainServices">
                    <td> {{ sv.sta }}</td>
                    <td> {{ sv.origin[0].locationName }} ({{ sv.origin[0].crs }}) </td>
                    <td> {{ sv.destination[0].locationName }} ({{ sv.destination[0].crs }}) </td>
                    <td ng-class="{'delayed':sv.eta!='On time'}"> {{ sv.eta }}</td>
                    <td> {{ sv.platform }}</td>
                </tr>
            </tbody>
        </table>
        <!-- </div> -->
    </div>
    <div class="well well-sm">Last Updated: {{ vm.departures.generatedAt | date: 'dd/MM/yyyy HH:mm:ss' }}</div>
        <div class="pull-left"><a href='http://www.browserstack.com' target='_blank'><img src='/bstack.svg' height='25'/></a></div>
</div>